body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.header>nav>ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #292F36;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: color 0.3s ease;
}

a:hover {
    color: #CDA274;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo>img {
    max-width: 34px;
    height: 34px;
}

.hero {
    height: 831px;
    background-image: url(src/images/backgroundRoom.webp) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero>div {
    display: flex;
    flex-direction: column;
}

.hero>div>h2 {
    margin-bottom: 50px;
    max-width: 700px;
    flex-wrap: wrap;
    margin-left: 150px;
    font-size: 80px;
    margin-top: 200px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.hero>div>p {
    max-width: 550px;
    font-size: 22px;
    margin-left: 150px;
    flex-wrap: wrap;
    margin-top: -35px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-1>button {
    max-width: 207px;
    height: 71px;
    border: 0;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(5,15,15,15.3);
    transition: background-color 0.5s ease;
}

.btn-1>button:hover {
    background-color: #292F36;
}

.btn-1>button {
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-1>img {
    margin-left: -60px;
}

.Services {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Services-div {
    height: 395px;
    max-width: 317px;
    text-align: center;
}

.Services-div>p {
    font-size: 22px;
    flex-wrap: wrap;
    line-height: 33px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Services-div>h3 {
    font-size: 25px;
    line-height: 39px;
    margin-top: 100px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.more {
    display: flex;
    height: 47px;
    background-color: #FFFFFF;
    border: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.more:hover {
    transform: scale(1.1);
}

.more>img {
    max-width: 24px;
    height: 17px;
}

.more>button {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.more>button>p {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: 27px;
}


.Estimating-div {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 480px;
}

.Estimating-info>h2 {
    font-size: 50px;
    letter-spacing: 0.22px;
    line-height: 65px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.Estimating-info>p {
    font-size: 22px;
    letter-spacing: 0.22px;
    line-height: 33px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Estimating-info {
    max-width: 592px;
    height: 581px;
}

.Estimating {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.Estimating>img {
    max-width: 592px;
    height: 635px;
    margin-left: 100px;
}

.consultations {
    display: flex;
    align-items: center;
}

.consultations>img {
    max-width: 93px;
    height: 93px;
}

.Phone {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 40px;
}

.Phone>p {
    font-size: 24px;
    letter-spacing: 0.22px;
    line-height: 36px;
    margin-bottom: 0;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Phone>span {
    font-size: 22px;
    letter-spacing: 0.22px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-2>button {
    max-width: 267px;
    height: 71px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(5,15,15,15.3);
    transition: background-color 0.5s ease;
    font-size: 18px;
    letter-spacing: 0.72px;
    line-height: 27px;
    margin-right: 60px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    padding-left: 30px;
}

.btn-2>img {
    margin-left: -120px;
}

.btn-2>button:hover {
    background-color: #292F36;
}

.rew-background {
    max-width: 80%;
    height: 785px;
    border-radius: 75px;
    background-color: #F4F0EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.rew-background>div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 50px;
}

.rew-background>h2 {
    max-width: 480px;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.22px;
    text-align: center;
    margin-top: -10px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.rew-div {
    max-width: 356px;
    height: 259px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding-left: 50px;
    padding-top: 70px;
    transition: transform 0.3s ease;
}

.rew-div:hover {
    transform: scale(1.1);
}

.rew-container {
    max-width: 250px;
}

.rew-container>p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.22px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rew-worker {
    display: flex;
    align-items: center;
    max-width: 500px;
}

.rew-worker>div>p {
    font-size: 25px;
    letter-spacing: 0.22px;
    margin: 0;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.rew-worker>div>span {
    font-size: 18px;
    letter-spacing: 0.22px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.rew-worker>div {
    margin-left: 30px;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.brand-logos {
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.projects>h2 {
    max-width: 330px;
    font-size: 47px;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    text-align: center;
    margin: 0;
}

.projects>p {
    max-width: 750px;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    text-align: center;
}

.project-container {
    display: flex;
    width: 65%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-div {
    max-width: 590px;
    height: 750px;
    margin-top: 50px;
}

.project-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.project-description>div {
    display: flex;
    flex-direction: column;
}

.project-description>div>h3 {
    margin: 0;
    font-size: 24px;
    line-height: 37.5px;
    letter-spacing: 0.22px;
}

.project-description>div>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin: 0;
}

.project-description>img {
    max-width: 70px;
    height: 70px;
    cursor: pointer;
    transition: 0.3s ease;
}

.project-description>img:hover {
    transform: scale(1.1);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
 

.exp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 475px;
    background-color: #F4F0EC;
    margin-top: 150px;
}

.exp-background {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.exp-div,.exp-div-left,.exp-div-right{
    max-width: 275px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exp-div{
    border-right: 1px #CDA274 solid;
    border-left: 1px #CDA274 solid;
    padding: 50px;
}

.exp-div-left{
    border-right: 1px #CDA274 solid;
    padding: 50px;
}

.exp-div-right{
    border-left: 1px #CDA274 solid;
    padding: 50px;
}

.exp-div>h3{
    font-size: 85px;
    line-height: 127.5px;
    letter-spacing: 1.7px;
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #CDA274;
    margin: 0;
}

.exp-div-left>h3{
    font-size: 85px;
    line-height: 127.5px;
    letter-spacing: 1.7px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #CDA274;
    margin: 0;
}

.exp-div-right>h3{
    font-size: 85px;
    line-height: 127.5px;
    letter-spacing: 1.7px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #CDA274;
    margin: 0;
}

.exp-div>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D5053;
}

.exp-div-left>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D5053;
}

.exp-div-right>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D5053;
}

.join-div {
    margin-top: 150px;
    width: 70%;
    height: 414px;
    background-color: #292F36;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-div>div {
    max-width: 241px;
    height: 71px;
    background-color: #CDA274;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s ease;
    
}

.join-div>div:hover {
    transform: scale(1.1);
}

.join-div>div>img {
    max-width: 24px;
    height: 24px;
}

.join-div>div>button {
    max-width: 140px;
    height: 27px;
    background-color: #CDA274;
    border: 0;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.join {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.join-div>h3 {
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.22px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #FFFFFF;
    margin: 0;
}

.join-div>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    margin-top: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #4D5053 1px solid;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    display: flex;
    flex-direction: column;
    max-width: 210px;
}

.footer-div-left{
    display: flex;
    flex-direction: column;
    max-width: 393px;
}

.footer-div-right{
    display: flex;
    flex-direction: column;
    max-width: 337px;
}

.footer-div>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D5053;   
}

.footer-div-left>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D5053;   
}

.footer-div-right>p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    font-family:  "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4D5053;   
}

.footer-div>h3 {
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.footer-div-left>h3 {
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.footer-div-right>h3 {
    font-size: 25px;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.footer-icons {
    display: flex;
    gap: 40px;
}

.trends-container {
    display: grid;
    width: 80%;
    height: 1340px;
}

.trends {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trends>.trends-div {
    max-width: 600px;
}

.trends>div>h3 {
    font-size: 48px;
    line-height: 62.4px;
    letter-spacing: 0.22px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 24px;
}

.trends>div>p {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
}

.trends-container {
    width: 80%;
    margin: 0 auto;
}

.cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    background: #ffffff;
    border-radius: 60px;
    padding: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
    height: 620px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card img {
    width: 100%;
    margin-bottom: 12px;
}

.tag {
    display: inline-block;
    background: #F4F0EC;
    padding: 6px 16px;
    border-radius: 12px;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.5px;
    font-family:  "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 14px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bottom>img {
    max-width: 48px;
    height: 48px;
    background: #F4F0EC;
    box-sizing: border-box;
    border-radius: 50%;
    transition: 0.3s ease;
}

.bottom>img:hover {
    transform: scale(1.1);
    cursor: pointer;
}